<div class="row">
    <div class="col-xs-2">
        {{vm.createdDate()}}</br>
        {{vm.createdTime()}}
    </div>
    <div class="col-sm-8">
        <div class="well">
            <div class="post">
                <div class="post__meta">
                    <a href="/{{ post.author.username }}">{{ post.author.username }}</a>
                </div>
                <div class="post__content">
                    {{ post.content }}
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <a class="btn btn-raised btn-warning" href="javascript:void(0)" style="vertical-align: bottom;"><b>TEE PAKKUMINE</b></a>
    </div>
</div>